<div class="row">
    <div class="col-md4 col-md-offset-4">
        <h1>Sign Up</h1>
        {{#if messages}}
        {{#each messages}}
        <div class="alert alert-danger">{{this}}</div>
        {{/each}}
        {{/if}}
        <form acion="/user/signup" method="post">
            <div class="form-group">
                <label for="email"> E-Mail </label>
                <input type="text" id="email" name="email" class="form-control">
            </div>
            <div class="form-group">
                <label for="password"> Password </label>
                <input type="password" id="password" name="password" class="form-control">
                <input type="hidden" name="_csrf" value="{{csrfToken}}">
            </div>
            <button class="submit">Sign Up</button>
        </form>
    </div>
</div>