<!-- <link rel="stylesheet" type="text/css" href="css/example1.css" data-rel-css="" /> -->

<script src="https://js.stripe.com/v3/"></script>
<script src="js/index.js" data-rel-js></script>

<div class="row">
    <div class="col-sm-8 col-md-8">
        <div>
            <h1>Checkout</h1>
            <h4>Your Total: ${{total}}</h4>
            {{#if noError}}
            <div id="charge-error" class="alert alert-danger">
                {{errMsg}}
            </div>
            {{/if}}
            <div class="cell example example1" id="example-1">
                <form class="py-2">
                    <fieldset>
                        <div class="row">
                            <div id="example1-card"></div>
                        </div>
                    </fieldset>
                    <button type="submit" data-tid="elements_examples.form.pay_button"">
                        Pay ${{total}}
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Scripts for each example: -->
<script src=" js/example1.js" data-rel-js>
</script>